In [2]:
import numpy as np
import pandas as pd

In [3]:
train = pd.read_csv('Train.csv')

In [4]:
train.head()

,Index,Date,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Rented Bike Count
0,0,01/12/2017,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,254
1,1,01/12/2017,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,204
2,2,01/12/2017,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,173
3,3,01/12/2017,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,107
4,4,01/12/2017,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,78

In [5]:
train.isnull().sum()

Index                        0
Date                         0
Hour                         0
Temperature(°C)              0
Humidity(%)                  0
Wind speed (m/s)             0
Visibility (10m)             0
Dew point temperature(°C)    0
Solar Radiation (MJ/m2)      0
Rainfall(mm)                 0
Snowfall (cm)                0
Seasons                      0
Holiday                      0
Functioning Day              0
Rented Bike Count            0
dtype: int64

In [6]:
train.dtypes

Index                          int64
Date                          object
Hour                           int64
Temperature(°C)              float64
Humidity(%)                    int64
Wind speed (m/s)             float64
Visibility (10m)               int64
Dew point temperature(°C)    float64
Solar Radiation (MJ/m2)      float64
Rainfall(mm)                 float64
Snowfall (cm)                float64
Seasons                       object
Holiday                       object
Functioning Day               object
Rented Bike Count              int64
dtype: object

In [7]:
train.drop(['Index', 'Date'], inplace = True, axis = 1)

In [8]:
train.columns

Index(['Hour', 'Temperature(°C)', 'Humidity(%)', 'Wind speed (m/s)',
       'Visibility (10m)', 'Dew point temperature(°C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day', 'Rented Bike Count'],
      dtype='object')

In [13]:
train['Functioning Day'].unique()

array(['Yes', 'No'], dtype=object)

In [10]:
train['Seasons'] = train['Seasons'].map({'Winter': 0, 'Spring': 1, 'Summer': 2, 'Autumn': 3})

In [12]:
train['Holiday'] = train['Holiday'].map({'No Holiday': 0, 'Holiday': 1})

In [15]:
train['Functioning Day'] = train['Functioning Day'].map({'Yes': 0, 'No': 1})

In [16]:
train.head(2)

,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Rented Bike Count
0,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,0,0,254
1,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,0,0,204

In [17]:
x = train.drop('Rented Bike Count', axis = 1)
y = train['Rented Bike Count']

In [19]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [26]:
mms = MinMaxScaler()

In [27]:
mms = mms.fit(x_train)

In [28]:
x_train = mms.transform(x_train)
x_test = mms.transform(x_test)

In [59]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators = 300,criterion = 'mse', min_samples_split = 4, min_samples_leaf = 2, 
                            max_features = 'auto',
                            random_state = 100,)

In [60]:
rfr = rfr.fit(x_train, y_train)

In [61]:
y_pred = rfr.predict(x_test)

In [38]:
from sklearn.metrics import mean_squared_error

In [62]:
mse = np.sqrt(mean_squared_error(y_test, y_pred))
mse

223.26496319264086

In [40]:
test = pd.read_csv('Test.csv')

In [41]:
test.head(2)

,Index,Date,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,0,20/09/2018,0,20.1,58,0.3,2000,11.5,0.0,0.0,0.0,Autumn,No Holiday,Yes
1,1,20/09/2018,1,20.0,59,1.1,1999,11.7,0.0,0.0,0.0,Autumn,No Holiday,Yes

In [43]:
test.drop(['Date', 'Index'], inplace = True, axis = 1)

In [47]:
test.columns

Index(['Hour', 'Temperature(°C)', 'Humidity(%)', 'Wind speed (m/s)',
       'Visibility (10m)', 'Dew point temperature(°C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day'],
      dtype='object')

In [65]:
test['Functioning Day'].unique()

array(['Yes', 'No'], dtype=object)

In [54]:
test['Seasons'] = test['Seasons'].map({'Autumn': 0,})

In [64]:
test['Holiday'] = test['Holiday'].map({'No Holiday': 0, 'Holiday': 1})

In [66]:
test['Functioning Day'] = test['Functioning Day'].map({'Yes': 0, 'No': 1})

In [67]:
mms = mms.fit(test)

In [68]:
prediction = rfr.predict(test)

In [70]:
prediction

array([438.49485714, 758.02094841, 758.02094841, ..., 828.93005159,
       825.67752778, 825.67752778])

In [72]:
prediction = pd.DataFrame(prediction, columns = ['Rented Bike Count'])

In [73]:
prediction.to_csv('prediction.csv')